{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<div id="index">
    <div id="mainImage">
        <img src="{{ asset('images/mainImage.jpg') }}">
    </div>
    <div id="badges">
        <span>CSS3</span>
        <span>HTML5</span>
        <span>JQuery</span>
        <span>AJAX</span>
        <span>Bootstrap</span>
        <span>PHP</span>
        <span>Symfony</span>
        <span>Docker</span>
    </div>
    <p class="phrases">"Medir los avances de programación por líneas de código es como medir el progreso de la construcción de aviones por peso."</p>
    <p>Bill Gates</p>
</div> 
{# <div id="contact">
    
</div> #}
{% endblock %}

